# Project files
HELP.md

# Gradle
.gradle
build/
!backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
*.log

# Environment variables
*.env

# OS files
.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore compiled Java classes anywhere under backend
backend/**/*.class

# Ignore test reports and coverage data (if generated)
backend/test-results/
backend/coverage/
